<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hobbies</title>
  </head>

  <body>
    <h1>Hobbies</h1>
    <ul>
      <li>
        <h2>Athletics</h2>
        <img
          src="/Assets/Eren being Athletic.jpg"
          style="height: 200px"
          alt="Athletic Eren"
        />
        <p>
          I work on my physicality and train hard every day to ensure that I
          look good and stand out in health and strength. Athleticism keeps my
          mind firm and concentrated. It's also refreshing to feel and look this
          good.
        </p>
      </li>
      <li>
        <h2>Sword Fighting</h2>
        <img
          src="/Assets/Eren Sword Fighting.jpg"
          style="height: 200px"
          alt="Sword Fighting Eren"
        />
        <p>
          I do sword fighting. It brings me joy and allows me to keep fit. I
          have won awards in sword arts. If there is ever a need to slay an
          enemy you can contact me in my contact details. ;D
        </p>
      </li>
      <li>
        <h2>Singing</h2>
        <img
          src="/Assets/Eren Singing.jpg"
          style="height: 200px"
          alt="Eren Singing"
        />
        <p>
          One of my hobbies is my ability to sing. I sing hard rock and I always
          know how to electrify a crowd. Whenever a war is on it's way, I can
          sway a nation to fight with arms in battle.
        </p>
      </li>
      <li>
        <h2>Cooking</h2>
        <img
          src="/Assets/Eren Cooking.jpg"
          style="height: 200px"
          alt="Eren Cooking"
        />
        <p>
          Cooking is a niche skillset. Besides cooking for myself, I also cook
          for people who are hungry and in need of some good food. My unique
          dishes are kichery rice, crayfish and banana and meat stew.
        </p>
      </li>
      <li>
        <h2>Chess</h2>
        <img
          src="/Assets/Eren Playing Chess.jpg"
          style="height: 200px"
          alt="Eren playing Chess"
        />
        <p>
          Checkmate! A word that I often use when an entire crowd thinks they
          can out strategize me. Seriously though, I am a tactition and my way
          of thinking is often unpredictable. Chess is a game that teaches you
          the life skills of sacrifice and planning.
        </p>
      </li>
    </ul>
  </body>
</html>
